@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;600&display=swap');

.container {
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url('../Images/bg-desktop.svg');
    background-repeat: no-repeat;
    padding: 64px 85px 40px 80px;
}

.container .content {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 60px;
}

.content .image {
    margin-right: 60px;
}

.content .text h1{
    width: 487px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 35px;
}

.content .text p {
    width: 520px;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0;
}

.content .text a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #684BB1;
    background-color: #fff;
    padding: 13px 60px;
    border-radius: 28px;
    
}

.content .text a:hover {
    color: #fff;
    background-color: #E880E8;
    box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.26);
    transition: 0.3s;
}

.footer .social ul {
    display: flex;
    justify-content: end;
}

.footer .social a {
    color: #fff;
    border: 1.2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social a:hover {
    color: #FF52C1;
    transition: 0.3s;
}