@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;600&display=swap');


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(257, 40%, 49%);
    width: 1440px;
    height: 800px;
    background-image: url('../Images/bg-desktop.svg');
    background-repeat: no-repeat;
    padding: 64px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo a img {
    height: 50px;
}

.container .content {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.content .text {
    color: #fff;
    display: flex;
    flex-direction: column;
}

.content .text h1 {
    width: 487px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
}

.content .text p {
    width: 520px;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0;
}

.content .text a {
    width: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #684BB1;
    background-color: #fff;
    padding: 13px 60px;
    border-radius: 28px;
}

.content .text a:hover {
    color: #fff;
    background-color: #E880E8;
    transition: 0.3s;
}

.footer .social {
    display: flex;
    justify-content: end;
    margin-top: 27px;
}

.footer .social a {
    color: #fff;
    border: 1.2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social a:hover {
    color: #FF52C1;
    transition: 0.3s;
}



@media (max-width:375px) {
    .container {
        background-image: url('../Images/bg-mobile.svg');
        background-position: top;
        padding: 38px;
        display: block;
    }

    .logo a img {
        height: 30px;
    }

    .container .content {
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
    }

    .content .image img {
        width: 302px;
        height: 210px;
    }

    .content .text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content .text h1 {
        width: 280px;
        font-size: 24px;
    }

    .content .text p {
        width: 304px;
        font-size: 16px;
        margin-top: 16px;
    }

    .content .text a {
        width: 200px;
        font-size: 12px;
    }

    .footer .social {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .footer .social a {
        width: 28px;
        height: 28px;
        border: solid 0.8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}


